# Project information
site_name: Documentations
site_url: https://mflisar.github.io/github-docs/

copyright: Copyright &copy; 2023 Michael Flisar

#repo_url: https://github.com/mflisar/github-docs
#repo_name: github-docs

# Configuration
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate    
      primary: black
      accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  #custom_dir: overrides
  features:
    - navigation.instant
    - navigation.instant.prefetch
    #- navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    #- navigation.expand
    - navigation.path
    - navigation.footer
    - navigation.indexes
    - toc.follow
    #- toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    
markdown_extensions:
  - toc:
      permalink: "#"
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - attr_list
  - md_in_html
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - def_list
  #- pymdownx.tasklist:
  #    custom_checkbox: true
      
# Plugins
plugins:
  - search
  - social
  - minify:
      minify_html: true
      htmlmin_opts:
        remove_comments: true
  #- optimize
  #- privacy
  #- typeset
  - macros:
      include_dir: include
  - glightbox:
      skip_classes:
         - exclude-glightbox
        
# Additional configuration
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mflisar
  #generator: false

extra_css:
  - stylesheets/extra.css

# Page tree
nav:
  - Home: index.md
  - Libraries:
    - Common:
      - Lumberjack: libraries/lumberjack.md
    - Compose:
      - ComposeDialogs: libraries/composedialogs.md
      - ComposePreferences: libraries/composepreferences.md
      - ComposeChangelog: libraries/composechangelog.md
      - ComposeCustomTheme: libraries/composecustomtheme.md
      - ComposeDebugDrawer: libraries/composedebugdrawer.md
